// ================= BANNER ==================
.banner-section {
  background-color: $gm-white-color;
}
.banner-main {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
}
.banner-left {
  background-color: #ccc;
  border-radius: $gm-border-radius;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.banner-right {
  &__img {
    border-radius: $gm-border-radius;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
