// ================= BLOG & BANNER ==================
.blog-section {
  margin-bottom: 7rem;
}
.blog-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}
.blog-left {
  background-color: $gm-white-color;
  border-radius: $gm-border-radius;
}
.blog-post {
  list-style: none;
  padding: 0 2.7rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  justify-content: center;
}
.post-item {
  text-decoration: none;
  color: inherit;
  &:hover {
    .post-item__title {
      color: $gm-primary-color;
    }
    .post-item__img img {
      transform: scale(1.05);
    }
  }
  &__img {
    border-radius: $gm-border-radius;
    overflow: hidden;
    img {
      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
  }
  &__time {
    font-size: $gm-normal-size;
    line-height: 1.25;
    color: #868e96;
    margin: 1.2rem 0;
    display: block;
  }
  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    @include textClamp(1);
  }
  &__desc {
    font-size: $gm-normal-size;
    line-height: 1.3;
    margin-top: 1.2rem;
    width: 100%;
    max-width: 33.6rem;
    @include textClamp(2);
  }
}

.banner-app {
  background-color: $gm-white-color;
  border-radius: $gm-border-radius;
  padding: 3.7rem 3.7rem 0 3.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.banner {
  &-title {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
  }
  &-desc {
    margin-top: 0.8rem;
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
    line-height: 1.5;
    display: inline-block;
  }
  &-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-bottom: 3.6rem;
    img {
      height: 100%;
      max-height: 4.5rem;
    }
  }
  &-img {
    width: 100%;
    max-width: 61%;
    margin: auto auto 0 auto;
  }
}

// ================= BLOG PAGE ==================
