.login {
  &-title {
    color: #fff;
    font-weight: 500;
    margin-right: auto;
    margin-left: 3rem;
    font-size: 2.5rem;
  }
  &-helper {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
  }
}
