// Color
$gm-primary-color: #2f9e44;
$gm-text-color: #343a40;
$gm-gray-color: #868e96;
$gm-gray-light-color: #e9ecef;
$gm-green-color: #acd8b4;
$gm-green-light-color: #eaf5ec;
$gm-red-color: #f03e3e;
$gm-red-light-color: #feecec;
$gm-white-color: #fff;

// Font
$gm-primary-font: "Montserrat", sans-serif;
$gm-normal-size: 1.4rem;

// Size
$gm-header-height: 10rem;
$gm-header-search-width: 49.1rem;
$gm-border-radius: 4px;
